<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sideBar-iframe</title>
</head>
<body>
    <header>
        <a id="homelink" href="../basicPages-templates.htm">home</a>
        <div class="page-title">
            <h1>Place Title Here  </h1>
        </div>
        <div class="page-logo">
            <img src="">
        </div>
    </header>

    <main>
        <nav id="navMain">

        </nav>
        <div class="main-container">
            <aside id="asideMain">
                <!-- Unit -->
                <ul>
                    <li><a class="unit" href="#">Unit 1</a>
                        <ul>
                            <li><a class="sub-unit" href="#">sub-unit-1</a>
                                <ul>
                                    <li><a class="lesson" href="#"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>

    </main>
    
</body>
</html>