* {
    margin: 0;
    padding:0;
}
header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}
canvas:active,canvas:focus {
    box-shadow: 0 0 3px 3px orange;

}

.code-container {
    margin: 0 10%
}
