.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.flex-container > .flex-item {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.align-start {
    align-items: flex-start;
}
.justify-self-end {
    justify-self: flex-end;
}
.align-self-end {
    align-self: flex-end;
}
.justify-start {
    justify-content: flex-start;
}
@media screen and (max-width: 475px){
    .flex-container{
        display: block;
    }
}