/* body, */
#appLogo {
    background-color: rgb(255, 0, 0);
    opacity: .5;
    border: 1px solid black;
    outline: 4px solid navajowhite;
    border-radius: 100px;
    width: 20%;
    height: 2.5%;
    max-width: 100px;
    max-height: 100px;
}

.night-mode {
    opacity: .9;
    background-color: rgb(200, 200, 200, .5);
    background-color: black;
    color: whitesmoke;
    opacity: .75;
}

* {
    margin: 0;
    padding: 0;

}
header {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.main-section {
    border: 1px solid black;
    display: flex;
}
iframe {
    /* border: 1px solid black; */
    width: 100vw;
    /* // This is awsome vmax */
    height: 100vmax;
}
.side-menu {
    width: 18%;
    height: 1009px;
    padding-top: 1%;
    /* padding-right: 0%; */
    padding-left: 1%;
    margin-right: 2.5%;
    z-index: 5;
}
/********************    List   *********************/

/******************** Font Sizes *********************/

/******************** Side Menu *********************/
/*********************** Unit  ********/
.side-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-menu ul  li {
    list-style-type: none;
}
.side-menu > ul > li > a > h2 {
    font-size: 110%;
    
    /* -webkit-text-stroke-width: 1px solid black; */
    stroke-width: 100px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: black;
    font-weight: 900;
    margin-left: 2%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-decoration: underline 1px solid black;
    margin-bottom: 6%;
}
.units-section ul {
    list-style-type: none;
}
.units-section ul li a {
    text-decoration: none;
}
.units-section {
    /* border-bottom: 1px solid black; */
    margin-bottom: 5%;
}
.side-menu > ul > li > section.units-section {
    /* border-bottom: 1px solid black; */
    /* margin-bottom: 10%; */
}
.units-section > ul > li > a > h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: 4%;*/
    /* margin-bottom: 3%; */
    text-decoration: underline ;
    /* border-bottom: dashed 1px black; */
    margin-top: 7.5%;
    margin-left: 5%;
    font-size: .9rem;
    color: rgb(176, 74, 74)
}

.units-section ul li ul h4{
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    /* color:darkred; */
    /* text-decoration: underline; */
    /* margin-top: 3%; */
    margin-left: 12.5%;
    font-size: .775rem;
}
.units-section ul li ul li {
    font-size: .825rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-top: 2.5%; */
    /* margin-bottom: 2%; */
    margin-left: 12.5%;
}
.units-section ul li ul li a{
    font-size: .825rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-top: 2.5%; */
    color: darkblue;
    margin-left: 10%;
}
.units-section ul li ul li > a:visited {
    color: rgb(187, 100, 69)
}

.hide {
    display: none;
}
.units-list-drop-triangle {
    display: flex;
}

.drop-triangle {
    display: none;
}

#show,
#showSection,
#showLessons{
    display: block
}


@media screen and (max-width: 900px) {
    .side-menu ul li {
        font-size: 80%;
    }

}
@media screen and (max-width: 720px) {
    .drop-triangle {
        padding: 0 2%;
        display: inline-block;
    }

    .showSide {
        position: absolute;
        border: 1px solid black;
        width: 25%;
        background-color: white;
        height: 1009px;
        z-index: 5;
    }
    /* .side-menu ul li {
        font-size: .01%;
    } */
}

