* {
    margin: 0;
    padding: 0;
}
code {
    /* border: 1px solid black; */
    display: inline-block;
    padding: 0 1%;
}
p {
    margin: 2% 0;
}
img {
    width: 100%;
    margin: 1% 0;;
}
ul {
    margin-left: 2.5%;
}